
{% extends "base.html.twig" %}

{% block title %}Mon espace{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/monEspace') }}
    {{ encore_entry_link_tags('scss/form') }}
{% endblock %}

{% block body %}
    <div class="modif">
    <h1>Modifier mes informations</h1>
        <div class="name">
        <h2>Changer d'identifiant</h2>
            {{ include ("admin/admins/FormAdmins.html.twig", {form: form, button: 'Enregistrer'}) }}
        </div>
        <div class="pwd">
        <h2>Changer de mot de passe</h2>
            {{form (formPwd)}}
        </div>
    </div>

    <a class="logout" href="/logout"><button>Se déconnecter</button></a>

{% endblock %}

{% block javascripts %}

{% endblock %}
