{% extends "base.html.twig" %}


{% block title %}Bienvenue !{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/home') }}
{% endblock %}

{% block body %}
<div class="featured">
    <h1>Offres à la une :</h1>
    <div class="grid-gallery">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}

